.nav-container {
    display: flex; /* Linklarni bir qatorda joylashishiga yordam beradi */
    gap: 15px; /* Linklar orasidagi bo'shliq */
    flex-wrap: wrap; /* Kichik ekranlarda wrap qilinsin */
    justify-content: flex-start;
    margin-left: 80px;
  }
  
  .custom-link {
    color: black; /* Rang qora */
    font-weight: bold; /* Bold qilish */
    text-decoration: none; /* Pastki chiziqni olib tashlash */
  }
  
  .custom-link:hover {
    border-bottom: 2px solid var(--bs-primary); /* Hover holatda chiziq rangi */
  }
  .carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #007bff; /* Tugma orqa fon rangi */
 /* Tugmalarni yumaloq qilish */
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1); /* Tugmalarni oq rangda ko'rsatadi */
}
@media (max-width: 992px) { /* Tablet va kichik ekranlar uchun */
    .nav-container {
      justify-content: center; /* Tabletda markazga joylashadi */
    margin-left: 0;
    }
  }
